<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Welcome
        link(rel="stylesheet", href=mix('css/index.css'))
    body
        include navbar.pug

        .section
            .container
                h1 Designed by SunSet Framework
        .footer
            | Copyright Ojvar &copy; 2020
            .notification
                | powered by Bulma
