extends ../../layout/app.pug

block title
    | ویرایش کاربر

block styles
    link(rel="stylesheet", href=mix("css/global/app.css"))

block heading
    section.hero
        .container.page-header
            .title
                h1 ویرایش کاربر

block content
    .container
        edit-user(edit-url=route('user.edit'))

block scripts
    script(defer, src=mix('js/pages/user/edit/index.js'))
