extends ../../layout/app.pug

block title
    | Welcome to TaskTracker

block content
    #app.container.has-text-centered
        user-list(ref="userList")

block footer
    ul
        li
            a Copyright&copy; Ojvar, 2018-2020

block scripts
    script.
        document.data = {
            urls: {
                usersList: '#{route("user.index")}'
            }
        };
    script(defer, src=mix('js/pages/user/index/index.js'))

