extends ../../layout/app.pug

block title
    | کاربران

block heading
    section.hero
        .container.page-header
            .title
                h1 کاربران

block content
    h1= route('api.user', { page: 1, size: 10 })
    .container.has-text-centered
        users(list-url=route('api.user', { page: 1, size: 10 }),
            register-user=route('user.create')
        )

block scripts
    script(defer, src=mix('js/pages/user/index/index.js'))


