extends ../../layout/app.pug

block title
    | Welcome to TaskTracker

block content
    .container.has-text-centered
        user-list(ref="userList")
        h1= result.data

block scripts
    script.
        document.data = {
            urls: {
                usersList: '#{route("user.index")}'
            }
        };
    script(defer, src=mix('js/pages/user/index/index.js'))

