extends ../../layout/app.pug

block title
    | کاربران

block content
    .container
        users(list-url=route('api.user', { page: 1, size: 10 }),
            register-user=route('user.create'),
            edit-user=route('user.update', { data:'$data$'})
        )

block scripts
    script(defer, src=mix('js/pages/user/index/index.js'))


