extends ../../layout/app.pug

block title
    | Register new user

block styles
    link(rel="stylesheet", href=mix("css/global/app.css"))

block content
    .container
        register-user(register-url=route('user.store'))

block scripts
    script(defer, src=mix('js/pages/user/register/index.js'))
