extends ../../layout/app.pug

block title
    | title

block content
    pre= departmentId
    show-department(ref="departmentShow", load-url=route("api.department.show", { department: '$department$'}),
                 department-id=departmentId)

block scripts
    script(defer src=mix("js/pages/department/show/index.js"))
