extends ../../layout/app.pug

block title
    | همکاری بین بخشی و مشارکت مردم در سلامت استان - سامانه همت

block styles
    link(rel="stylesheet", href=mix("css/global/app.css"))

block content
    .container
        .columns.is-vcentered
            .column.is-5
                login(ref="loginComponent", login-url=route('auth.attempt'), home-page-url=route('home.index'))
            .column.is-6.is-offset-1.has-text-centered.sitename
                h1 همکاری بین بخشی و مشارکت مردم در سلامت استان
                h2 سامانه همت

block scripts
    script(defer, src=mix('js/pages/auth/login/index.js'))
