extends ../../layout/app.pug

block title
    | Welcome to TaskTracker

block styles
    link(rel="stylesheet", href=mix('css/pages/auth/login.css'))

block content
    #app.container
        .columns.is-vcentered
            .column.is-5
                login(ref="loginComponent", login-url=route('auth.attempt'))
            .column.is-6.is-offset-1.has-text-centered
                h1.title.is-2
                    | Welcome
                h2.subtitle.is-4
                    | Please login to your account
                    
block footer
    ul
        li
            a Copyright&copy; Ojvar, 2018-2020

block scripts
    script(defer, src=mix('js/pages/auth/login/index.js'))
