footer.footer
    .container
        .columns.is-mobile.is-multiline
            .column.is-one-third.footer-links
                a(href='/') هماهنگی درون بخشی
                a(href='/') مشارکت مردم
                a(href='/') همکاری بین بخشی
                a(href='/') دیده بانی سلامت استان
                a(href='/') رویدادها
                a(href='/') مرکز اسناد راهبردی
            .column.is-one-third.footer-links
                a(href='/') اهداف
                a(href='/') خدمات
                a(href='/') درباره ما
                a(href='/') تماس با ما
            .column.is-one-third.footer-links
                .big-text.text-center همکاری بین بخشی و مشارکت مردم در سلامت استان
                .footer-logo.py-4
                    img(src=asset('images/logo.png'))
            .copyright.text-center.py-4
                | کلیه حقوق این سایت متعلق به دانشگاه علوم پزشکی قزوین می باشد

