footer.footer
    .container
        .columns.is-mobile.is-multiline
            .columns.footer-links.is-justified-between
                a(href='/') هماهنگی درون بخشی
                a(href='/') مشارکت مردم
                a(href='/') همکاری بین بخشی
                a(href='/') دیده بانی سلامت استان
                a(href='/') رویدادها
                a(href='/') مرکز اسناد راهبردی
                a(href='/') اهداف
                a(href='/') خدمات
                a(href='/') درباره ما
                a(href='/') تماس با ما
            .copyright.text-center.py-4
                | کلیه حقوق این سایت متعلق به دانشگاه علوم پزشکی قزوین می باشد

