footer.footer
    .container
        .columns.is-mobile.is-multiline
            .columns.footer-links.is-justified-between
                a(href='/internal-section') همکاری درون بخشی
                a(href='/people-participation') مشارکت مردم
                a(href='/external-section') همکاری بین بخشی
                a(href='/monitoring-page') دیدبانی سلامت استان
                a(href='/event-list') رویدادها
                a(href='/document-list') مرکز اسناد راهبردی
            .copyright.text-center.py-4
                | کلیه حقوق این سایت متعلق به دانشگاه علوم پزشکی قزوین می باشد

