mixin menuItem(url, title)
    li(class=((url.toLowerCase() == (pageRoute || "").toLowerCase()) ? "is-active" : ""))
        a(href=route(url))= title

ul
    +menuItem("home.index", "Home")
    +menuItem("home.about", "About")
    +menuItem("auth.login", "Login")
    if((req || {}).user)
        +menuItem("sep", "|")
        +menuItem("user.index", "Users")
