extends ../../layout/app.pug

block title
    | اسناد راهبردی
block content
    document-lists(
        document-list-url=route('api.document', { page: '$page$', size: '$pageSize$', group: '$departmentId$ }),
        department-list-url=route('api.department', { page: '$page$', size: '$pageSize$' }),
    )
block scripts
    script(defer, src=mix('js/pages/home/document-list/index.js'))
