extends ../../layout/app.pug

block title
    | Welcome to Task:Tracker

block styles
    link(rel="stylesheet", href=mix("css/pages/home/index.css"))

block content
    .container.has-text-centered
        .columns.is-vcentered
            .column.is-5
                figure.image.is-4by3
                    img(class="is-rounded", src=asset("images/pages/home/img1.jpg"), alt='Home Image')
            .column.is-6.is-offset-1
                h1.title.is-2
                    | Task Tracker
                h2.subtitle.is-4
                    | An Intelligent Tracker

block footer
    ul
        li
            a Copyright&copy; Ojvar, 2018-2020

block scripts
