extends ../../layout/app.pug

block title
    | هماهنگی درون بخشی
block content
    internal-sections(
        department-categories-url=route('api.departmentcategory', { page: '$page$', size: '$pageSize$' })
        department-url=route('api.department', { page: '$page$', size: '$pageSize$' })
        )
block scripts
    script(defer, src=mix('js/pages/home/internal-section/index.js'))
