extends ../../layout/app.pug

block title
    | مشارکت مردمی
block content
    people-participations(
        department-categories-url=route('api.departmentcategory.department', {section:'5ec3fde0225a317cf9f35e37' })
        department-link-url=route('department.show', {department : '$id$' })
    )
block scripts
    script(defer, src=mix('js/pages/home/people-participation/index.js'))
